/* color palette
color: #523c40
color: #b03c47 
color: #915f68
color: #dababc
color: #f9f3f3
color: white
*/

* {
  font-family: 'Quicksand', sans-serif;
}

main {
  display: flex;
  flex-direction: column;
}

html, body {
  background-color: #b03c47;
  height: 100vh;
  display: flex;
;
}

nav {
  display: flex;
  flex-direction: column;
  height: 100vh;
  width: 15vh;
}

.available-room-container {
  width: 85vw;
  height: 100vh;
}

.room-image{
  height: 10rem;
  width: 10rem;
  border: 2px solid black;
  border-radius: 2%;
}

/* .room-container{
    width: 60%;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(5, 1fr);
    grid-column-gap: 0px;
    grid-row-gap: 0px;
} */

.room-card-to-view{
  font-size: medium;
  padding: 1%;
  margin: 10px;
  border: 2px solid black;
  border-radius: 2%;
  background-color: #f9f3f3;
}

.hidden{
  display: none;
}