/* color palette
color: #523c40
color: #b03c47 
color: #915f68
color: #dababc
color: #f9f3f3
color: white
*/

* {
  font-family: 'Quicksand', sans-serif;
}

main{
  display: flex;
}

nav{
  float: left;
  display: flex;
  flex-direction: column;
}

.content{ 
  float: right;
}

.room-container{
  display: grid;
  grid-template-columns: repeat(4, 1fr);
}

.room-card-to-book, .room-card-to-view {
  display: flex;
  flex-direction: column;
  width: 30vw;
  border: 2px solid black;
  border-radius: 2%;
  margin: 5px;
  text-align: center;
  
}

.hidden{
  display: none;
}

img{
  border: 2px solid black;
  border-radius: 3%;
  align-self: center;
  height: 200px;
  width: 200px;
}